@font-face {
	font-family: "sitelen seli kiwen";
	font-style: normal;
	font-weight: 400;
	src: url(https://raw.githubusercontent.com/lipu-linku/nasin-sitelen/main/sitelenselikiwenasuki.ttf);
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 255, 240);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 12pt;
}

header {
    display: block;
    text-align: center;
    min-width: max-content;
}

button {
    width: auto;
    flex: 1;
    background-color: rgb(136, 114, 158);
    color: white;
    margin: 0 0 0 5px;
    border:  2px solid rgb(136, 114, 158);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}

input {
    width: 6rem;
    font-size: 1rem;
    flex: 3;
    border: 2px solid gray;
    border-radius: 5px;
}

#word {
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;
    flex: 2;
}

#usagecategory {
    border-radius: 25px;
    font-weight: bold;
    background-color: rgb(136, 114, 158);
    border:  2px solid rgb(136, 114, 158);
    text-align: right;
    color: white;
    font-size: 10pt;
    display: none;
    padding: 3%;
    width: min-content;
}

#def {
    margin: 0;
    padding: 0 0 0.5em 0;
}


.lookup {
    display: flex;
    
}

.container {
    display: flex;
    align-items: center;
}

#sitelenpona {
    font-family: "sitelen seli kiwen";
    font-size: 300%;
    cursor: pointer;
    margin: 0 0 0 15px;
}

#book {
    flex: 1;
    font-style: oblique;
    text-align: left;
}

#sound{
    flex: 1;
    text-align: center;
}

#moreinfo {
    flex: 1;
    text-align: right;
    font-size: 10pt;
}

#credit {
    flex: 3.5;
    font-size: 9pt;
    text-align: right;
}

#settings {
    flex: 1;
    font-size: 7pt;
    text-align: left;
}

a, a:visited {
    color: rgb(163, 80, 2);
    cursor: pointer;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}